<app-header title="Login"></app-header>
<ion-content>
    <form [formGroup]="form">
        <app-custom-input 
            autocomplete = "email"
            icon="mail-outline"
            [control] = "form.controls.email"
            type="email"
            label="Email"
        ></app-custom-input>
        <app-custom-input 
            autocomplete = "password"
            icon="lock-closed-outline"
            [control] = "form.controls.password"
            type="password"
            label="Password"
        ></app-custom-input>

        Email:{{form.value.email}} <hr>
        Password: {{form.value.password}}
    </form>
</ion-content>
